* {
	box-sizing: border-box;
}

html {
    background-color: #170c10;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    border: solid 2px #f79aaf;
    background-color: #3b2229ee;
    z-index: 2;
    height: 5.7rem;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.logo {
    flex: 1;
    font-size: 32px;
    color: 	#ebabbb;
    text-decoration: none;
    font-family: "PT Serif";
    padding-left: 4.8rem;
}

header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding-right: 4rem;
}

nav li {
    padding: 0.5rem 1.2rem;
    align-items: center;
}

nav a {
    text-align: center;
    align-items: center;
    padding: 0.1rem 0;
    line-height: 1.6;
    font-size: 1.15rem;
    letter-spacing: 1px;
    color: #b0919e;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto;
    transition: 100ms linear 40ms;
}

nav a:hover {
    color: #e9ced9;
    font-size: 1.2rem;
    text-shadow: #e9ced955 0 0 8px;
}

.main-content {
    position: relative;
    top: 5.6rem;
}

.home {
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.slogan {
    font-size: 6.5rem;
    vertical-align: top;
    color: #dd9faf;
    text-align: center;
    padding: 6rem 3rem;
    margin: 9rem;
    font-style: italic;
    overflow: visible;
    transition: color 800ms ease-out 80ms, font-size 1s ease-out 80ms;
}

.slogan:hover {
    color: #e2c0c8;
    font-size: 7rem;
}

.projects {
    background-color: #441f29;
    height: auto;
    padding-bottom: 5rem;
}

.projects h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: 3px;
    text-align: center;
    color:#ba8ea0;
    font-weight: 700;
    padding-top: 6.5rem;
    padding-bottom: 1.5rem;
    text-shadow: #170c10 0 0 10px;
}

.project-container {
    margin: 3rem 4rem auto;
    display: flex;
    flex-wrap: wrap;
}

.project-block {
    border: solid 4px rgb(151, 101, 111);
    min-height: 35rem;
    min-width: 20rem;
    flex: 1;
    margin: 2.3rem;
    border-radius: 1rem;
    background-color: #f0c3c7;
    display: flex;
    flex-direction: column;
}


.project-block a {
    text-decoration: none;
}

.image-container {
    min-height: 18rem;
    width: 100%;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-bottom: solid 3px rgb(151, 101, 111);
    text-decoration: none;
}

#kaggle {
    background-image: url(../Images/kaggle-project.png);
}

.image-container:hover {
    .project-title p {
        color: white;
        text-shadow: #ee9bb1 0 0 8px;
    }
}

.project-title {
    width: 100%;
    height: 100%;
    padding: 1.1rem 0.8rem;
    text-decoration: none;
}

.project-title p {
    text-decoration: none;
    font-size: 2.2rem;
    color: #fef5f5ee;
    font-family: "PT Serif";
    line-height: 1.3;
    text-shadow: #441f29 0 0 8px;
    transition: 120ms ease-in 20ms;

}

.project-note {
    padding: 1rem 1rem 0.2rem;
    min-height: 11.5rem;
    /*border: solid 1px black;*/
}

.project-note p {
    font-family: "Roboto";
    line-height: 1.6;
    font-size: 0.98rem;
    letter-spacing: 0.3px;
    color: #78273d;
    text-align: left;
}

.myskills {
    width: 100%;
    /*border: solid 1px black; */
    flex: 1;
    padding: 0 0.6rem 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.language {
    height: 1.4rem;
    background-color:#441f29;
    padding: 0.2rem 0.6rem;
    align-items: flex-start;
    border-radius: 0.7rem;
    margin: 0.3rem;
    color: #ffffff;
    box-shadow: #502b35d9 0 0 10px;
}

.field {
    height: 1.4rem;
    background-color: #bc8994;
    padding: 0.2rem 0.6rem;
    align-items: flex-start;
    border-radius: 0.7rem;
    margin: 0.3rem 0.3rem;
    color: white;
    text-shadow: #764754 0 0 4px;
    box-shadow: #a16c7ad9 0 0 10px;
}

.myskills a {
    text-align: center;
    align-items: center;
    font-family: "Roboto Mono";
    font-size: 0.85rem;
    letter-spacing: 1px;
}

#pneumonia {
    background-image: url(../Images/pneumonia-project.png);
}

#insole {
    background-image: url(../Images/insole-project.png);
}

#immc {
    background-image: url(../Images/IMMC-project.png);
}

#himcm {
    background-image: url(../Images/himcm-project.png);
}

#coming {
    background-image: url(../Images/coming.png);
}

/* About */
.skills {
    width: 100%;
    height: auto;
    background-color: #ba8ea0;
}

.skills h2 {
    font-size: 2.8rem;
    color: #441f29;
    text-transform: uppercase;
    font-family: "Roboto";
    padding: 7rem;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: #62384555 0 0 10px;
}

.about {
    width: 100%;
    height: auto;
    background-color: #4f2732;
}

.about-title {
    width: 100%;
    display: none;
}

.about h2 {
    color: #d6a9bc;
    text-transform: uppercase;
    padding: 6rem;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}

.about-body {
    width: 100%;
    display: flex;
}

.about .photo-section {
    width: 45%;
    padding: 8rem 8rem 6rem;

}

.about-text {
    width: 50%;
    padding-top: 17rem;
    text-align: right;
    padding-right: 2rem;
}

.name {
    padding-bottom: 1rem;
    display: flex;
    margin-bottom: 1.5rem;
}

.english-name {
    color:#1f0309 ;
    font-size: 4rem;
}

.chinese-name {
    font-size: 1.6rem;
    padding-top: 1.8rem;
    padding-left: 2rem;
    color: #7d4153;
    font-weight: 600;
}

.intro {
    font-size: 1.2rem;
    color:#c89297;
    font-family: 'Georgia';
    line-height: 140%;
    text-align: justify;
}

.photo img {
    width: 100%;
}

.cloud-section {
    width: 100%;
    padding: 4rem 9rem;
    background-color: #ba8ea0;
    margin-bottom: 5.6rem;
}

.cloud-section h2 {
    padding: 2rem auto;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-family: "PT Serif";
    letter-spacing: 3px;
    color:#ffeef5;
    font-weight: 700;
    text-shadow: #170c10 0 0 10px;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.cloud-container {
    background-color: #2c0c15;
    padding: 5rem;
    box-shadow: #623845 0 0 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.cloud-container ul {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cloud-container li {
    padding: 0.5rem;
    font-family: "PT Serif";
    text-shadow: #1f0305 0 0 2rem;
    transition: 100ms ease-out 40ms;
}

.cloud-container li:hover {
    text-shadow: #6d3a3c 0 0 5px;
}

.level-2 {
    color: #f2d3d5;
    font-size: 1.5rem;
}

.level-3 {
    font-size: 2rem;
    color:#e2b2be;
    text-shadow: #2a0911 0 0 1rem;
}

.level-4 {
    font-size: 3.5rem;
    color:#b27787;
    text-shadow: #2a0911 0 0 1rem;
}

.level-5 {
    font-size: 4.8rem;
    color:#9e5a6b;
    text-shadow: #2a0911 0 0 1rem;
}

.level-6 {
    font-size: 6rem;
    color:#e0b3bf;
    text-shadow: #2a0911 0 0 1rem;
}

footer {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
}

.footer-content {
    display: flex;
    padding: 3.4rem 6.5rem 3.4rem 5rem;
}

.copyright {
    align-items: center;
    flex: 1;
}

.copyright p {
    font-size: 1.2rem;
    color: #f6e6eadd;
}

.logos {
    display: flex;
}

.logos i {
    color: #fed9e2dd;
    margin-left: 2rem;
    transition: 200ms ease-in 20ms;
}

.logos i:hover {
    color: #ffffffdd;
}

.logos .fa-envelope {
    margin-top: 6px;
}