* {
	box-sizing: border-box;
}

html {
    background-color: #170c10;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    border: solid 2px #f79aaf;
    background-color: #3b2229ee;
    z-index: 2;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.logo {
    flex: 1;
    font-size: 32px;
    color: 	#ebabbb;
    text-decoration: none;
    font-family: "PT Serif";
    padding-left: 2rem;
}


ul {
    list-style: none;
    margin: 0;

}


header nav ul {
    display: flex;
    padding-right: 1rem;
}

nav li {
    padding: 0 1.2rem;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1.15rem;
    letter-spacing: 1px;
    color: #b0919e;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto;
    transition: 100ms linear 20ms;
}

nav a:hover {
    color: #e9ced9;
    font-size: 1.2rem;
}

.main-content {
    position: relative;
    top: 5rem;
}

.slogan {
    font-size: 6.5rem;
    color: #dd9faf;
    text-align: center;
    padding: 6rem 3rem;
    margin: 9rem;
    font-style: italic;
    overflow: visible;
    transition: color 800ms ease-out 80ms, font-size 1s ease-out 80ms;
}

.slogan:hover {
    color: #e2c0c8;
    font-size: 7rem;
}

.projects {
    background-color: #441f29;
    height: auto;
    padding-bottom: 5rem;
}

.section-head {

}

.projects h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: 3px;
    text-align: center;
    color:#ba8ea0;
    font-weight: 700;
    padding-top: 6.5rem;
    padding-bottom: 1.5rem;
    text-shadow: #170c10 0 0 10px;
}

.project-container {
    margin: 3rem 4rem auto;
    display: flex;
    flex-wrap: wrap;
}

.project-block {
    border: solid 4px rgb(151, 101, 111);
    min-height: 34rem;
    min-width: 20rem;
    flex: 1;
    margin: 2.3rem;
    border-radius: 1rem;
    background-color: #f0c3c7;
    display: flex;
    flex-direction: column;
}


.project-block a {
    text-decoration: none;
}

.image-container {
    min-height: 18rem;
    width: 100%;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-bottom: solid 3px rgb(151, 101, 111);
    text-decoration: none;
}

#kaggle {
    background-image: url(../Images/kaggle-project.png);
}

.image-container:hover {
    .project-title p {
        color: white;
        text-shadow: #ee9bb1 0 0 8px;
    }
}

.project-title {
    width: 100%;
    height: 100%;
    padding: 1.1rem 0.8rem;
    text-decoration: none;
    
}

.project-title p {
    text-decoration: none;
    font-size: 2.2rem;
    color: #fef5f5ee;
    font-family: "PT Serif";
    line-height: 1.3;
    text-shadow: #441f29 0 0 8px;
    transition: 120ms ease-in 20ms;

}

.project-note {
    padding: 1rem 1rem 0.2rem;
    min-height: 11.5rem;
    /*border: solid 1px black;*/
}

.project-note p {
    font-family: "Roboto";
    line-height: 1.6;
    font-size: 0.98rem;
    letter-spacing: 0.3px;
    color: #78273d;
    text-align: left;
}

.skills {
    width: 100%;
    /*border: solid 1px black; */
    flex: 1;
    padding: 0 0.6rem 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.language {
    height: 1.4rem;
    background-color:#441f29;
    padding: 0.2rem 0.6rem;
    align-items: flex-start;
    border-radius: 0.7rem;
    margin: 0.3rem;
    color: #ffffff;
    box-shadow: #502b35d9 0 0 10px;
}

.field {
    height: 1.4rem;
    background-color: #bc8994;
    padding: 0.2rem 0.6rem;
    align-items: flex-start;
    border-radius: 0.7rem;
    margin: 0.3rem 0.3rem;
    color: white;
    text-shadow: #764754 0 0 4px;
    box-shadow: #a16c7ad9 0 0 10px;
}

.skills a {
    text-align: center;
    align-items: center;
    font-family: "Roboto Mono";
    font-size: 0.85rem;
    letter-spacing: 1px;
}

#pneumonia {
    background-image: url(../Images/pneumonia-project.png);
}